body {
    min-height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:50% ;
}