.slide-container {
    max-width: 1120px;
    width: 100%;
    background: gray;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
}

.card {
    width: 320px;
    border-radius: 25px;
    background-color: #FFF;
}

.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px; 
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 47%;
    left: 0;
    /* top: 100; */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semitransparente */
    border-radius: 0 0 25px 25px; /* Manter o arredondamento nos cantos inferiores */
}

.card-image {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #4070F4;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

/* 14:15 de vídeo */