* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/login/fundo-login.png');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: left;
}

.logo img {
    max-width: 200px; 
    margin-left: 174px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    background: #585858BF; /*Melhorar essa cor*/
    box-shadow: 0px 15px 15px 0px #00000040;
    padding: 60px 30px;
    border-radius: 10px;
}

.login-container {
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 4px;
}

input {
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #f5c518; 
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e5b518;
}

a {
    display: block;
    margin-top: 30px;
    color: #DBDBDB;
    text-decoration: none;
}

a:hover {
    color: black
}


