* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 10px 0;
}

footer p {
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 400;
}

.social-links {
    display: flex;
    list-style: none;
    margin: 0 5px;
    height: 75px;
}

.social-links li {
    margin-left: 5px;
}

.social-icon:hover {
    color: #f5c518;
}