body {
    font-family: Arial, sans-serif;
    background-color: #1B1B1B;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Cabeçalho */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #181818;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 160px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.user-icon img {
    width: 40px;
    height: 40px;
}

/* Grade de filmes */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
}

.movie-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.movie-card img {
    width: 100%;
    border-bottom: 2px solid #f0c228;
}

.movie-info h3 {
    margin: 10px 0;
    font-size: 18px;
}

.movie-info p {
    font-size: 14px;
    color: #bbb;
}
